html {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

body {
   
   
}

header {
    text-align: center;
    color: white;
}

h1 {
    font-family: 'Bree Serif', serif;
}

p {
    
}

.inner {
    font-size: 25px;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.img-featured {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 5px;
    border-style: solid;
    border-color: white;
    margin-top: 150px;
    
}

.main-nav {
    display: inline;
    
}

a:link, li{
    
    display: inline;
    padding: 10px;
    text-decoration: none;
    color: white;
}

a:hover{
    display: inline;
    color: rgb(255, 255, 79)
}

a:visited {

}
